
.pokemonCard {
    display: flex;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 16px;
    margin: 10px; 
    width: calc(21% - 30px);
    min-width: 300px;
    box-sizing: border-box;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
    background-size: cover; 
    background-position: center; 
    position: relative; 
  }
  
  .pokemonCard .imageContainer {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 260px;
    width: 90%;
    opacity: 0.2;
    margin: 0 auto;
  }

  .pokemonCard:hover {
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(17, 37, 109, 0.5);
  }

  .infoContainer {
    display: flex;
    position: absolute;
    flex-direction: column  ;
    
  }

  .header{
    color: black;
    font-size: 20px;
    font-weight: bold;
  }
  